.title{
    color: #fff;
    font-size: 5em;
    font-family: 'Anton', sans-serif;
    background-color: $principal;
}

.subtitle{
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}