.contenedor-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .img-error {
    z-index: -1;
    opacity: 0.6;
  }
  
  .titulo-error {
    color: $principal;
    font-size: 150px;
  }
  
  .titulo-uno {
    font-size: 50px;
  }
  
