// fuentes //
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

// colores //
$principal: rgb(46,90,70);


// VARIABLES BS //
    
//navbar//
$navbar-light-color:#000000c9;
$navbar-light-active-color: #000;